# === Python cache files ===
__pycache__/
*.py[cod]

# === Virtual environment ===
venv/
.env/
ENV/
env/
server/venv/

# === Logs ===
*.log

# === OS / Editor files ===
.DS_Store
*.swp
*.swo


# SQLite database
instance/app.db

